[Unit]
Description=A matrix bot that does amazing things!

[Service]
Type=simple
User=matrix-pinbot
Group=matrix-pinbot
WorkingDirectory=/path/to/matrix-pinbot/docker
ExecStart=/usr/bin/docker-compose up matrix-pinbot
ExecStop=/usr/bin/docker-compose stop matrix-pinbot
RemainAfterExit=yes
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target